In [1]:
%load_ext autoreload
%autoreload 2

In [39]:
import json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from gzbuilder_analysis import load_aggregation_results, load_fit_results

In [3]:
fitting_metadata = pd.read_pickle('lib/fitting_metadata.pkl')
gal_info = pd.read_csv('lib/gal-metadata.csv', index_col=0)

In [6]:
gal_metadata = pd.read_csv('lib/galaxy-builder-subjects.csv', index_col=0).loc[
    fitting_metadata.index
]
gal_metadata = gal_metadata[
    ~gal_metadata.index.duplicated()
].metadata.apply(json.loads).apply(pd.Series)

## Length-weighted pitch angles

In [40]:
agg_results = load_aggregation_results('../gzbuilder_results/output_files/aggregation_results')
fit_results = load_fit_results('../gzbuilder_results/output_files/tuning_results')

100%|██████████| 296/296 [00:02<00:00, 107.81it/s]
100%|██████████| 296/296 [00:05<00:00, 52.72it/s]

In [8]:
from gzbuilder_analysis.fitting.optimizer import get_spirals

def get_arm_length(arm):
    return np.sqrt(
        np.sum(
            np.diff(arm, axis=0)**2,
            axis=1
        ),
    ).sum()

def get_fit_pa(fit_result):
    n_spirals = len(fit_result.fit_model.get('spiral', {})) // 6
    if n_spirals == 0:
        return {
            'lw_pa': np.nan,
            'sigma_lw_pa': np.nan,
        }
    spiral_params = fit_result.deparametrized['spiral']
    base_roll = fit_result.fit_model[('disk', 'roll')]
    pas = np.fromiter((i for i in (
        fit_result.fit_model.get(('spiral', f'phi.{i}'), np.nan) for i in range(1000)
    ) if not np.isnan(i)), dtype=float)
    spirals = get_spirals(fit_result.fit_model.to_dict(), n_spirals, base_roll)
    lengths = np.fromiter((get_arm_length(arm) for arm in spirals), dtype=float, count=len(pas))
    return {
        'lw_pa': abs((pas * lengths).sum() / lengths.sum()),
        'sigma_lw_pa': pas.std() if len(pas) > 1 else np.nan
    }

In [9]:
length_weighted_pitch_angles = fit_results.apply(get_fit_pa, axis=1).apply(pd.Series)

/Users/tlingard/anaconda3/lib/python3.6/site-packages/jax/lib/xla_bridge.py:122: UserWarning: No GPU/TPU found, falling back to CPU.
  warnings.warn('No GPU/TPU found, falling back to CPU.')

## Bayesian pitch angles

In [10]:
INPUT_FILE = 'n91d1000t500.pickle'
res = pd.read_pickle(INPUT_FILE)
bhsm = res['model']
trace = res['trace']

In [11]:
gal_pa_samples = pd.DataFrame(
    trace['phi_gal'].T,
    index=bhsm.galaxies.index
)

In [12]:
pa_expectation = gal_pa_samples.mean(axis=1)
pa_std = gal_pa_samples.std(axis=1)

In [13]:
length_weighted_pitch_angles

              lw_pa  sigma_lw_pa
20902004        NaN          NaN
21686523  20.318781          NaN
21096948   6.175400          NaN
21686559        NaN          NaN
21686590        NaN          NaN
...             ...          ...
21096833  21.981309          NaN
20902039   3.554099          NaN
21686564  20.484426          NaN
21686614        NaN          NaN
20902043        NaN          NaN

[294 rows x 2 columns]

## Create result table

In [15]:
pa_df = pd.concat((
    gal_metadata[['NSA id','ra','dec','Run','Camcol','Field','Rerun','SDSS dr7 id']],
    pa_expectation.rename('pa'),
    pa_std.rename('sigma_pa'),
    length_weighted_pitch_angles,
), axis=1)
pa_df

,NSA id,ra,dec,Run,Camcol,Field,Rerun,SDSS dr7 id,pa,sigma_pa,lw_pa,sigma_lw_pa
20901989,485056,118.684814,14.607033,5045,4,46,301,587741421632356667,NaN,NaN,NaN,NaN
20901990,647251,123.420944,45.993744,1302,4,125,301,588007005234266362,26.953818,5.766606,26.221725,6.165147
20901991,431909,161.501450,34.967144,4504,3,44,301,587739097518047289,NaN,NaN,NaN,NaN
20901992,649067,148.692368,13.374738,4338,6,41,301,587745538906652834,NaN,NaN,35.215894,NaN
20901993,167921,203.039398,-2.749252,2333,3,41,301,587729773143851215,15.567837,7.965124,14.938983,2.600236
...,...,...,...,...,...,...,...,...,...,...,...,...
21686611,495316,150.760010,27.273951,4632,2,68,301,587739646738563164,NaN,NaN,NaN,NaN
21686612,185170,178.829437,50.799721,3059,6,127,301,588295842859778125,NaN,NaN,1.180179,NaN
21686613,514242,165.220001,19.492830,5313,5,42,301,587742573220200621,NaN,NaN,NaN,NaN
21686614,145910,136.363129,44.143883,2740,5,220,301,587731681193754794,NaN,NaN,NaN,NaN
21686615,315017,235.474152,32.763084,3813,4,497,301,588017605238915235,NaN,NaN,16.717107,NaN

In [16]:
pa_df.to_csv(os.path.expanduser('~/PhD/Kate_pa_table.csv'))